<li>
    <div class="google-btn">
        <div class="google-icon-wrapper">
            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"/>
        </div>
        <p class="btn-text"><b><a title="{{ attrs.name }}" href="{{ attrs.href }}">Login with google</a></b></p>
    </div>
</li>




<!-- original line 

<a title="{{ attrs.name }}" href="{{ attrs.href }}">{{ attrs.name }}</a>

-->



<!-- REPLACED LINE BYE ME FOR GOOGLE ICON 

<div class="google-btn">
    <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"/>
    </div>
    <p class="btn-text"><b><a title="{{ attrs.name }}" href="{{ attrs.href }}">Login with google</a></b></p>
</div>

-->