<footer class="section-p1">
    <div class="col">
        <img class="logo" src="/static/img/BookForest Logo.png" alt="">
        <h4>Contact</h4>
        <p><strong>Address:</strong> Deoghar jharkhand 814112</p>
        <p><strong>Phone No:</strong> 1234656789</p>
        <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </div>
        
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Term & Condition</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="/login/">Sign in</a>
        <a href="/registration/">Register</a>
    </div>
    <div class="copyright">
        <p href="#">@copyright section</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/static/dropdown_menu.js"></script>
<script src="/static/toggle.js"></script>

<script src="/static/script.js"></script>
</body>
</html>